*.jar filter=lfs diff=lfs merge=lfs -text
ogamebotapp/src/main/resources/databases/postgres/postgres/ filter=lfs diff=lfs merge=lfs -text
ogamebotapp/src/main/resources/databases/postgres/postgres/base/26465/36185 filter=lfs diff=lfs merge=lfs -text
