# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/
#ogamebotserver/src/main/resources/static/bower_components/
*.log
.DS_Store
ogamebotapp/src/main/resources/proxylist/test/
ogamebotapp/src/test/
ogamebotserver/src/main/resources/static/app/
ogamebotserver/src/main/resources/static/main/
ogamebotserver/src/test/
dependency-reduced-pom.xml
jarExecutables/jarResources/ogame/xml_downloads/
ogamebotapp/src/main/resources/ogame/xml_downloads/
*.jar
/ogamebotapp/src/main/resources/drivers/
jarExecutables/
b
lib/
ogamebotapp/src/main/resources/databases/HSQLDB/.tmp/
ogamebotapp/src/main/resources/databases/postgres/postgres/
ogamebotserver/src/main/resources/databases/postgres/postgres/
ogamebotapp/src/main/resources/databases/postgres_windows/App/PgSQL/postgres/
ogamebotapp/src/main/resources/databases/postgres.zip~HEAD
ogamebotapp/src/main/resources/databases/postgres.zip~origin_ogame_2.0
ogamebotserver/src/main/resources/databases/postgres.zip~HEAD
ogamebotserver/src/main/resources/databases/postgres.zip~origin_ogame_2.0
