# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/
ogamebotserver/src/main/resources/static/bower_components/
*.log
.DS_Store
ogamebotapp/src/main/resources/proxylist/test/
ogamebotapp/src/test/
ogamebotserver/src/main/resources/static/app/
ogamebotserver/src/main/resources/static/main/
ogamebotserver/src/test/
dependency-reduced-pom.xml
jarExecutables/jarResources/ogame/xml_downloads/
ogamebotapp/src/main/resources/ogame/xml_downloads/
*.jar