<div ng-app layout="column" layout-align="center center" layout-fill="layout-fill">
    <div class="loginBox md-whiteframe-z1" layout="column">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <form name="form" ng-submit="vm.login()" role="form">
            <md-content class="md-padding" layout="column">
                <md-input-container>
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label>Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                        <div ng-messages="form.username.$dirty && form.username.$error.required">
                            <div ng-message="required">Username is required</div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                        <div ng-messages="form.password.$dirty && form.password.$error.required">
                            <div ng-message="required">Password is required</div>
                        </div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px">
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Login</md-button>
                    <div flex="flex"></div>
                    <md-button href="#!/register" class="md-raised">Register</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>