html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    /*background: black;*/
}
.loginBox {
    max-width:  90%;
    width: 500px
}

.stretch input  {
    width: 100%
}


.home, .md-sidenav-left{
    position: fixed;
    height: 100%;
}